/*!
 *  build: vue-admin-beautiful 
 *  copyright: chuzhixin 1204505056@qq.com 
 *  time: 2020-10-9 15:30:44
 */[data-v-c4f336ce]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34}.more-container[data-v-c4f336ce] .el-card__body>div{min-height:220px;padding:20px}.more-container[data-v-c4f336ce] .el-card__body>div>ul>li{line-height:30px}.more-container[data-v-c4f336ce] .el-card__body>div>img{display:block;margin:40px auto;border:1px solid #dedede}