/*!
 *  build: vue-admin-beautiful 
 *  copyright: chuzhixin 1204505056@qq.com 
 *  time: 2020-10-9 15:30:44
 */[data-v-761d7ea6]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34}.lodash-container[data-v-761d7ea6]{text-align:left}.lodash-container[data-v-761d7ea6] .lodash-content{min-height:150px}